- title t('log_in_title')

%p== t('signup_message', :url => signup_path)

<%- if options[:authlogic] -%>
- semantic_form_for @<%= session_singular_name %> do |f|
  = f.semantic_errors
  - f.inputs do
    = f.input :username
    = f.input :password
  - f.buttons do
    = f.commit_button t('log_in_button')
<%- else -%>
- form_tag <%= session_plural_name %>_path do
  %p
    = label_tag :login, t('login_label')
    %br
    = text_field_tag :login, params[:login]
  %p
    = label_tag :password, t('password_label')
    %br
    = password_field_tag :password
  %p
    = submit_tag t('log_in_button')
<%- end -%>
