- title t('sign_up_title')

%p= t('log_in_message', :url => login_path)

- semantic_form_for @<%= user_singular_name %> do |f|
  = f.error_message_on :base
  - f.inputs do
    = f.input :username
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
  - f.buttons do
    = f.commit_button t('sign_up_button')
