<%% title <%= class_name %>.human_name(:count => 2) %>

<table>
  <tr>
  <%- for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></th>
  <%- end -%>
  </tr>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to t("show_link"), <%= singular_name %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to t("edit_link"), edit_<%= singular_name %>_path(<%= singular_name %>) %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to t("destroy_link"), <%= singular_name %>, :confirm => t('destroy_confirmation'), :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<p><%%= link_to t("new_link", :model => <%= class_name %>.human_name), new_<%= singular_name %>_path %></p>
<%- end -%>
