<%% title <%= class_name %>.human_name(:count => 2) %>

<table>
  <tr>
  <%- for attribute in attributes -%>
    <th><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %></th>
  <%- end -%>
  </tr>
  <%% for <%= singular_name %> in @<%= plural_name %> %>
    <tr>
    <%- for attribute in attributes -%>
      <td><%%=h <%= singular_name %>.<%= attribute.name %> %></td>
    <%- end -%>
<%= link :show, :ident => 3, :tag => :td, :instance_variable => false -%>
<%= link :edit, :ident => 3, :tag => :td, :instance_variable => false -%>
<%= link :destroy, :ident => 3, :tag => :td, :instance_variable => false -%>
    </tr>
  <%% end %>
</table>

<%= link :new, :tag => :p -%>
