<%% title <%= class_name %>.human_name %>

<%- for attribute in attributes -%>
<p>
  <strong><%%= <%= class_name %>.human_attribute_name('<%= attribute.name %>') %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%= link :edit, :ident => 1 -%>
<%= link :destroy, :ident => 1 -%>
<%= link :index, :ident => 1 -%>
</p>
